---
const { header, text, url = "#", bgImg = "", year } = Astro.props;

import Button from "./Button.astro";
---

<article
  class="relative border border-magic-500 rounded-sm bg-cover bg-center h-[500px] w-[300px] group"
  style={`background-image: url(${bgImg});`}
>



 
  <div
    class="bg-magic-500 bg-opacity-[99%] p-spacebar-ms flex flex-col justify-between h-full  opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
    <!-- Container for header and text -->
    <div class="flex flex-col gap-spacebar-ms items-center ">
      <h1
        class="text-start text-sand-500  font-heading text-p-l-d  "
      >
        {
          header.split("\n").map((line) => (
            <>
              {line} <br />
            </>
          ))
        }
      </h1>

      <!-- Make the text scrollable if it overflows -->
     <p class="text-sand-500 font-body text-p-s-m lg:text-p-m overflow-y-auto max-h-[330px] whitespace-pre-line">
  {text}
</p>

    </div>

    <!-- Button container -->
    <div class="flex flex-col items-center">
      <Button size="mobil" variant="tertiary" class="" input="Besøg"></Button>
    </div>

    {year && (
  <span
    class="absolute bottom-4 right-2 text-magic-500 bg-sand-500 p-1 rounded-md px-2 font-heading text-p-s-m opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
  >
    {year}
  </span>
)}
  </div>
</article>

<style>
  /* Fjern standard scrollbars */
  p::-webkit-scrollbar {
    width: 8px; /* Smal scrollbar */
  }

  p::-webkit-scrollbar-track {
    background: transparent; /* Transparent baggrund på track */
  }

  p::-webkit-scrollbar-thumb {
    background-color: #efeae3; /* Let grå farve til thumb */
    border-radius: 10px; /* Rundere hjørner */
  }

</style>
