---
const { href = "#", variant ="primary", input, size="large" } = Astro.props;

const linkStyling = "transition-all duration-300 ease-in-out text-center font-body ";

const variantClasses = {
  primary: "text-sand-500 aria-[current=page]:text-violet",
  secondary:
    "text-obsidian-500 hover:text-magic-500 relative hover:after:scale-x-100 after:transition-transform after:duration-300 after:origin-middle after:block after:w-full after:h-[0.8px] after:bg-current after:content-[''] after:scale-x-0",
};
const sizeClasses = {
  large: "text-p-l-m lg:text-p-l-d",
  regular: "text-p-m lg:text-p-d",
   small: "text-p-m lg:text-p-s-d",
};


---

<a
  href={href}
  class:list={[linkStyling, variantClasses[variant], sizeClasses[size]  ]}
  data-navlink
>
  {input}
</a>
